---
import { Image } from "astro:assets";

const { title, description, srcImage, urlSite } = Astro.props;
---

<div class="game">
    <div class="gameHeader">
        <h3>{title}</h3>
        <h3>
            <a target="_blank" rel="noreferrer" href={urlSite}> INFO+ </a>
        </h3>
    </div>
    <Image src={srcImage} alt={title} class="responsiveImage" />
    <p>{description}</p>
</div>

<style>
    .responsiveImage {
        width: clamp(50%, 90%, 100%);
        height: auto;
        max-width: 100%;
        max-height: 50%;
    }

    h3,
    h4 {
        color: #66fcf1;
    }
</style>
