---
import { Image } from "astro:assets";

const { title, genre, description, imageUrl } = Astro.props;
---

<div class="project">
    <img src={imageUrl} alt={title} />
    <div class="content">
        <h3 class="title">{title}</h3>
        <div class="moreInfo">
            <h4>{genre}</h4>
            <p>{description}</p>
        </div>
    </div>
</div>

<style>
    .project {
        > .content {
            z-index: 1;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #45a29e;
    }
    h3 {
        font-style: italic;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    p {
        color: #c5c6c7;
        text-align: justify;
        text-justify: inter-word;
    }
    .project .projectImg {
        width: clamp(20%, 70%, 75%);
        height: auto;
    }
</style>
