---
const { title, genre, description, srcImage } = Astro.props;
---

<div class="project">
    <h3>{title}</h3>
    <img src={srcImage} alt={title} class="projectImg" />
</div>
<h4>{genre}</h4>
<p>{description}</p>

<style>
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h3 {
        font-style: italic;
        font-weight: bold;
        color: #45a29e;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>
